<div class="container">
        <div class="col-md-8">
            <h4> Add New Product </h4>
            <div ng-hide="!addCtrl.saveFlag" class="panel panel-success">
                    <div class="panel-body">Data added sucessfully!</div>
            </div>
            <hr/>
            <form name="addForm" ng-submit="addCtrl.insertData()" >
                
                <div class="form-group">
                    <label for="upc12">UPC12</label>
                    <input id="upc12" name="upc12" type="text" placeholder="123456789012" 
                    class="form-control" 
                    ng-model = "addCtrl.upcid"
                        required /> 
                </div>
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input id="brand" name="brand" type="text" class="form-control" 
                    ng-model = "addCtrl.brand"
                        required /> 
                </div>
                <div class="form-group">
                    <label for="productname">Product Name</label>
                    <input id="productname" name="phproductname" type="text" class="form-control" 
                    ng-model = "addCtrl.name"
                        required /> 
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" ng-disabled="addForm.$invalid">
                            Add
                    </button>
                </div>
            </form>
        </div>
    </div>