<div class="container">
        <div class="col-md-8">
            <h4> Edit Product </h4>
            
            <div ng-hide="!editCtrl.saveFlag" class="panel panel-success">
                    
                    <div class="panel-body">Data update sucessfully!</div>
            </div>
        
            <hr/>
            <form name="editForm" 
            ng-submit="editCtrl.saveData(editCtrl.brand,editCtrl.productname)" 
            novalidate>
                
                <div class="form-group" ng-submit="">
                    <label for="upc12">UPC12: {{editCtrl.upcid}}</label>
                </div>
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input id="brand" name="brand" type="text" class="form-control" 
                        value="{{ editCtrl.brand }}"    
                        ng-model="editCtrl.brand"
                        required /> 
                </div>
                <div class="form-group">
                    <label for="productname">Product Name</label>
                    <input id="productname" name="phproductname" type="text" class="form-control" 
                    value="{{ editCtrl.productname }}" 
                    ng-model="editCtrl.productname"  
                    required /> 
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" 
                    ng-disabled="editForm.$invalid">
                            Save Changes
                    </button>
                    <button class="btn btn-primary" ui-sref="main" >
                            Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>