
<div class="row">
        <div class="col-md-8">
            <form name="searchForm" novalidate ng-submit="groceryCtrl.search()">
    
                <div class="form-group"></div>
    
                    <div class="input-group">
    
                        <input id="searchTerm" class="form-control" type="text" 
                                name="searchTerm" ng-model="groceryCtrl.searchTerm"
                                required>
    
                        <span class="input-group-btn">
                            <button class="btn btn-dark" type="submit"
                                    ng-disabled="searchForm.$invalid">
                                Search
                            </button>
                        </span>
    
                    </div>
                </div>
            </form>
            
    </div>
    
    <hr/>
    <button class="btn btn-light navbar-btn" ng-click="groceryCtrl.addProduct()">Add New Product</button>

    <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>UPC12 Barcode</th>
                    <th>
                        <a href="#" ng-click="orderByField='brand';reverseSort = !reverseSort">
                        Brand
                        <span ng-show="orderByField == 'brand'">
                            <span ng-show="!reverseSort">^</span>
                            <span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
                            Product Name
                            <span ng-show="orderByField == 'name'">
                                    <span ng-show="!reverseSort">^</span>
                                    <span ng-show="reverseSort">v</span>
                            </span>
                        </a>
                    </th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="g in groceryCtrl.displaylist|orderBy:orderByField:reverseSort">
                    <!--http://www.barcodes4.me/barcode/c128a/035200264013.png?IsTextDrawn=1-->
                    <td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{g.upc12}}.png?IsTextDrawn=1" class="barcode"/></td>
                    <td>{{ g.brand }}</td>
                    <td>{{ g.name }}</td>
                    <td>
                        <button ng-click="groceryCtrl.editProduct(g.upc12,g.brand,g.name)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
    </div>